var awsIot = require('aws-iot-device-sdk')

var app = {}

app.setup = function() {
    app.device = awsIot.device({
        keyPath: './certs/private.key',
        certPath: './certs/cert.pem',
        caPath: './certs/root-CA.crt',
        clientId: 'Alexa-ESP8266' + (new Date().getTime()),
        region: 'us-east-1',
        host: 'xxxxxxxxxxxxxx.iot.us-east-1.amazonaws.com',
        debug: true
    });

    app.device.on('connect', function() {
        console.log('Connected');
    });

    app.device.on('message', function(topic, payload) {
        console.log('message', topic, payload.toString());
    });
}

app.displayText = function(text, callback) {
    var update = {
        "displayText": text
    };

    app.device.publish("$aws/things/device_name/shadow/update", JSON.stringify(update), function() {
        console.log("Published: \nTopic => " + "$aws/things/device_name/shadow/update" + "Data =>" + JSON.stringify(update));
        callback();
    });
}

module.exports = app
